body {
	height: 100%;
	width:100%;
	background-image: url('bgBear.jpg');
}

li {
	border: 1px, solid, black;
}

.navBar {
	font-size: 20px;
	float: 20px;
}

.navbar {
	color: white;
	font-size: 50px;
	font-family: 'Papyrus';
	font-weight: bolder;
	text-align: center;
	background-color: black;
}

.menu {
	
}

#postBox {
	height:30px;
	width: 90%;

}

button {
	float: right;
	margin-right: 126px;
}